 *{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway:wght@100&display=swap');

html {
    background: linear-gradient(120deg, rgb(58, 57, 55), rgb(255, 255, 255));
    background-repeat: no-repeat;
    height: 100%;
}

.nav {
    background: linear-gradient(120deg, rgb(143, 122, 52), rgb(141, 136, 73));
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100px;
    color: rgb(0, 0, 0);
    line-height: 100px;
    position: relative;
}

.nav h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: -8%;
}

img {
    margin-left: -90%;
    margin-top: 8px;
}

.container {
   background-color: rgba(0, 0, 0, 0.5);
   text-align: center;
   width: 50%;
   margin-top: 3%;
   margin-left: 25%;
   height: 400px;
   padding: 2%;
   border-radius: 10px;

}

.botoes {
    display: flex;
    margin-top: 10%;
    text-align: center;
    height: 50%;
}

button {
    width: 30%;
    height: 30%;
    margin: 2%;
    border-radius: 150px;
    font-size: larger;
    font-family: 'Raleway', sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.iniciar {
    background-color: rgb(12, 219, 12);
}

.iniciar:hover {
    background-color: rgb(0, 255, 42);
}

.pausar {
    background-color: rgb(255, 255, 255);
}

.pausar:hover {
    background-color:rgb(177, 177, 177) ;
}

.cancelar {
    background-color: red;
}

.cancelar:hover {
    background-color: rgb(211, 32, 32);
}

input {
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10PX;
}

.horas {
    color: white;
    float: left;
    font-family: 'Raleway', sans-serif;
    margin-left: 15%;
    
}

.minutos {
    color: white;
    float: left;
    margin-left: 15%;
    font-family: 'Raleway', sans-serif;
}

.segundos {
    color: white;
    float: left;
    margin-left: 15%;
    font-family: 'Raleway', sans-serif;
}

.tempo {
    display: inline-flex;
    width: 70%;
    height: 20%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;

}

